body {
    font-family: arial, sans-serif;
    font-size: 12pt;
    background-color: white;
    margin: 0px;
}

#highlight {
    width: 200px;
    height: 173px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
    display: none;
}

#highlight img {
    width: 200px;
    height: 173px;
}

#highlight_overlay {
    position: relative;
    top: -173px;
    opacity: 0.5;
}

button {
    font-size: 25pt;
    background-color: white;
}

input {
    font-size: 25pt;
    background-color: white;
}

.imgpreview {
    height: 50px;
    padding-left: 4px;
}

.file_input {
    display: none;
}

.upload_label {
    font-size: 25pt;
    border: black 2px solid;
    text-align: center;
}